

<div>&nbsp;</div>
<div class="bg-img1">
<div class="container" >
  
    <!-- <p >Issues And Risk Services</p> -->
    <div>&nbsp;</div>
    <!-- <nav>
        <a style="margin-right: 500px"  routerLinkActive="active">Generate Issue Report</a>&nbsp;&nbsp;&nbsp;
        <a  routerLinkActive="active">Create Issue</a>
      </nav> -->
      <nav>&nbsp;
        <div>
        <a [routerLink]='["/issue"]' routerLinkActive="active" >Project Daily Issues</a>&nbsp;
        </div>
        &nbsp;
        <div>
        <a [routerLink]='["/risk"]' routerLinkActive="active">Project Daily Risks &nbsp;</a>
        </div>
    </nav>
    <div>
    <router-outlet></router-outlet>
    </div>

    <div>&nbsp;</div>
    <div>&nbsp;</div>



    
</div>
</div>
<!-- &nbsp;
<div class="container">
    <p>Risk Report</p>
    <div>&nbsp;</div>
    <nav>
        <a style="margin-right: 500px" routerLinkActive="active">Generate Risk Report</a>&nbsp;&nbsp;&nbsp;
        <a  routerLinkActive="active">Create Risk</a>
      </nav>

    
    
</div> -->