/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url('assets/bg.png'); /* background image inserting */ 
    background-size: cover;  /* bg image screen fitting */
    /* background-repeat: no-repeat; */   /* img repeat */
    background-position: fixed;
    /* rotate: left; */

 }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
